<div class="row">
  <div class="col-md-9">
    <h1 class="title"><%= t('page.editing', model: t('activerecord.models.event_category')) -%></h1>
    <%= render 'form' %>
  </div>

  <div class="col">
    <div class="card card-body">
      <ul>
        <li><%= link_to t('page.show'), @event_category -%></li>
        <li><%= link_to t('page.back'), event_categories_path -%></li>
      </ul>
    </div>
  </div>
</div>
